body {
    padding-top: 0px;
  }
h1 {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}
h2 {
    font-family: Tahoma;
}
p {
    font-family: 'Roboto', sans-serif
    
}
img {
    width:100%;
}
.navbar .navbar-nav {
  display: inline-block;
  float: none;
  vertical-align: top;
}
.navbar .navbar-collapse {
  text-align: center;
}

.navbar-nav.navbar-right:last-child {
    margin-right: 10px;
}

.greet-text {
  font-size: 5em;
}

a:link {
    font-family: Tahoma;
    font-size: 1.5em;
}


.circle {
  width: 140px;
  height: 140px;
  border-radius: 50%;
  font-size: 20px;
  line-height: 150px;
  text-align: center;
  background: #6492db;
}

.button {
    background-color: #6492db;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 4px 2px;
    cursor: pointer;
}

.img-circle {
    border-radius: 50%;
}

.chart {
    position: relative;
    display: inline-block;
    width: 152px;
    height: 152px;
    margin-bottom: 26px;
    text-align: center;
}

.skilBg {
}

.percent {
    display: inline-block;
    font-size: 21px;
    color: #474d5d;
    line-height: 152px;
    z-index: 2;
}
.exp .vr{
    background-color:#5d5d63;
}


.exp .edu {
    background: white;
    border-bottom: solid 4px #e8e7e7;
}



textarea{ 
    background-color:#585f73 !important;
    border:0px;
    outline: none;
    transition: none;
     transparent !important;
}
.form-control .form-control-lg{
    border:0px;
}

input[type="text"]{
background-color:#585f73 !important
}

.footer{
    text-align: center;
    padding-top: 40px;
    padding-bottom: 40px;
    background-color:#1cb2a1;
}

/*----------------------------------------------------
 7.	Technical Skills Style
------------------------------------------------------*/
.addspace {
	height:60px;
	background:#eeeeee;
}
.technical {
	background:#eeeeee;
	color:#474d5d;
}
.technical .container {
	padding-top:85px;
	padding-bottom:69px;
}
.technical .heading p {
	padding-bottom:41px;
}
.technical p {
	color:#474d5d;
}
.technical h2 {
	color:#ff675f;
}
.technical .skillsArea {
	padding:0px;
}
.technical .skills {
	margin:0 auto;
	margin-bottom:23px;
	text-align:center;
	padding:0px;
	float:none;
}
.technical .skills p {
	color:#84868d;
	font-size:13px;
	line-height:18px;
	text-align:center;
}
.technical .skills img {
	margin:0 auto;
	margin-bottom:33px;
	width:100%;
	max-width:152px;
}
.technical .skills h4 {
	font-weight:700;
	text-transform:uppercase;
}
.skilBg {
	background:url(../img/skills.png) no-repeat 0 0;
}
.chart {
	position: relative;
	display: inline-block;
	width: 152px;
	height: 152px;
	margin-bottom: 26px;
	text-align: center;
}
.chart canvas {
	position: absolute;
	top: 0;
	left: 0;
}
.percent {
	display: inline-block;
	font-size:21px;
	color:#474d5d;
	line-height: 152px;
	z-index: 2;
}
.percent:after {
	content: '%';
	margin-left: 0.1em;
	font-size: .8em;
}
.angular {
	margin-top: 100px;
}
.angular .chart {
	margin-top: 0;
}